# Python internals
__pycache__/
*.pyc

# Virtual environments
.venv*/
venv*/
env*/

# Build artifacts
dist/
build/
*.egg-info/

# RASCAL-specific
test_data/
data/output/
data/input/

# System files
.DS_Store

# Temporary files
*.xlsx
*.cha

google_creds.json